@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
header.header {
  padding: 23px 0;
}
header.header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header .header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header.header .header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
header.header .header__icons .header__icon a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
header.header .header__icons span {
  color: #5C5C5C;
  font-size: 14px;
  font-weight: 400;
}

main.main .main__content {
  padding: 40px 0px;
}
main.main .main__content .title-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 68vw;
}
main.main .main__content .search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  width: 250px;
  height: 45px;
  flex-shrink: 0;
}
main.main .main__content .search img {
  padding: 0 10px 0 15px;
  cursor: pointer;
}
main.main .main__content .search input {
  width: 100%;
  padding: 0 5px;
}
main.main .sneakers__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sneakers__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sneakers__block .sneakers__card {
  max-width: 210px;
  min-height: 280px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  background: #fff;
  overflow: hidden;
  padding: 20px 30px;
  margin: 0 0 20px 0;
  transition: 0.3s;
}
.sneakers__block .sneakers__card:hover {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.sneakers__block .sneakers__card .sneakers__favorit.active {
  background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><rect width="32" height="32" rx="7" fill="%23FEF0F0"/><path d="M22.5849 12.2231C22.3615 11.7098 22.0394 11.2446 21.6365 10.8537C21.2333 10.4615 20.758 10.1499 20.2363 9.93576C19.6954 9.7128 19.1152 9.59868 18.5295 9.60002C17.7077 9.60002 16.906 9.82329 16.2092 10.245C16.0425 10.3459 15.8842 10.4567 15.7342 10.5775C15.5841 10.4567 15.4258 10.3459 15.2591 10.245C14.5624 9.82329 13.7606 9.60002 12.9388 9.60002C12.3471 9.60002 11.7737 9.71248 11.232 9.93576C10.7086 10.1508 10.2369 10.46 9.83181 10.8537C9.42843 11.2442 9.10619 11.7095 8.88337 12.2231C8.65168 12.7573 8.53333 13.3246 8.53333 13.9084C8.53333 14.4592 8.64668 15.0331 8.8717 15.6169C9.06006 16.1048 9.33009 16.6109 9.67513 17.122C10.2219 17.9307 10.9736 18.7742 11.9071 19.6293C13.4539 21.0467 14.9857 22.0258 15.0507 22.0655L15.4458 22.3169C15.6208 22.4277 15.8458 22.4277 16.0209 22.3169L16.4159 22.0655C16.4809 22.0242 18.0111 21.0467 19.5596 19.6293C20.493 18.7742 21.2448 17.9307 21.7915 17.122C22.1366 16.6109 22.4083 16.1048 22.5949 15.6169C22.82 15.0331 22.9333 14.4592 22.9333 13.9084C22.935 13.3246 22.8166 12.7573 22.5849 12.2231Z" fill="%23FF8585"/></svg>);
  width: 32px;
  height: 32px;
}
.sneakers__block .sneakers__card .sneakers__favorit img.active {
  background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><rect width="32" height="32" rx="7" fill="%23FEF0F0"/><path d="M22.5849 12.2231C22.3615 11.7098 22.0394 11.2446 21.6365 10.8537C21.2333 10.4615 20.758 10.1499 20.2363 9.93576C19.6954 9.7128 19.1152 9.59868 18.5295 9.60002C17.7077 9.60002 16.906 9.82329 16.2092 10.245C16.0425 10.3459 15.8842 10.4567 15.7342 10.5775C15.5841 10.4567 15.4258 10.3459 15.2591 10.245C14.5624 9.82329 13.7606 9.60002 12.9388 9.60002C12.3471 9.60002 11.7737 9.71248 11.232 9.93576C10.7086 10.1508 10.2369 10.46 9.83181 10.8537C9.42843 11.2442 9.10619 11.7095 8.88337 12.2231C8.65168 12.7573 8.53333 13.3246 8.53333 13.9084C8.53333 14.4592 8.64668 15.0331 8.8717 15.6169C9.06006 16.1048 9.33009 16.6109 9.67513 17.122C10.2219 17.9307 10.9736 18.7742 11.9071 19.6293C13.4539 21.0467 14.9857 22.0258 15.0507 22.0655L15.4458 22.3169C15.6208 22.4277 15.8458 22.4277 16.0209 22.3169L16.4159 22.0655C16.4809 22.0242 18.0111 21.0467 19.5596 19.6293C20.493 18.7742 21.2448 17.9307 21.7915 17.122C22.1366 16.6109 22.4083 16.1048 22.5949 15.6169C22.82 15.0331 22.9333 14.4592 22.9333 13.9084C22.935 13.3246 22.8166 12.7573 22.5849 12.2231Z" fill="%23FF8585"/></svg>);
  width: 32px;
  height: 32px;
}
.sneakers__block .sneakers__card .sneakers__img {
  flex-shrink: 0;
  margin-bottom: 14px;
}
.sneakers__block .sneakers__card .sneakers__img img {
  max-width: 133px;
  max-height: 112px;
}
.sneakers__block .sneakers__card .sneakers-title {
  width: 150px;
  margin-bottom: 14px;
}
.sneakers__block .sneakers__card .sneakers__lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.337254902);
  height: 100%;
  z-index: 10;
}
.cart__content {
  position: fixed;
  width: 30em;
  top: 0px;
  right: 0px;
  background: #fff;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
  padding: 32px 30px;
}
.cart__content .cart__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__content .cart__title .closeCart {
  transition: 0.3s;
  transform: rotate(180deg);
}
.cart__content .cart__title .closeCart .closeActive {
  transform: rotate(50deg);
}
.cart__sneakers {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}
.cart__sneakers .cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  background: #fff;
  width: 325px;
  height: 119px;
  overflow: hidden;
  padding: 50px 20px;
  margin-bottom: 20px;
}
.cart__sneakers .cart__item img {
  width: 70px;
}
.cart__sneakers .cart__item .removeBtn {
  padding-top: 46px;
  width: 32px;
}
.cart__sneakers .cart__item .sneakers__price {
  width: 150px;
}
.cart__sneakers .cart__item .sneakers__price p {
  margin-top: 8px;
}
.cart .bottom__block .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart .bottom__block .tax {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.greenBtn {
  background: #9dd458;
  padding: 15px;
  width: 100%;
  color: #fff;
  border-radius: 18px;
  gap: 20px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart.cartActive {
  display: block;
  transition: 0.3s;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #e7f6ff;
  font-family: "Inter", sans-serif;
  padding: 85px 0 50px 0;
}

[class*=__container] {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0 50px;
}

.wrapper {
  background: #fff;
  border-radius: 20px;
  padding: 20px 0;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-p {
  color: #9d9d9d;
  font-size: 14px;
  font-weight: 400;
}

.line {
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.sneakers-title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sneakers-price-title {
  color: #bdbdbd;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.sneakers-price {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.allTitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeFavorit {
  width: 10px;
  height: 10px;
  background: #000;
}

.empty-box {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.empty-box img {
  max-width: 200px;
}
.empty-box h3 {
  font-size: 22px;
  font-weight: 600;
}
.empty-box p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  line-height: 24px;
}

.succes-message {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.succes-message img {
  max-width: 200px;
}
.succes-message h3 {
  font-size: 22px;
  font-weight: 600;
  color: #87c20a;
}
.succes-message p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  line-height: 24px;
}

.page {
  margin: 0 auto;
}
.page .page__container {
  display: flex;
  margin: 100px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.page .page__container img {
  max-width: 200px;
}
.page .page__container h3 {
  font-size: 22px;
  font-weight: 600;
  color: #87c20a;
}
.page .page__container p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */