header.header{
    padding: 23px 0;
    .header__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .header__logo{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .header__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        .header__icon a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        span{
            color: #5C5C5C;
            font-size: 14px;
            font-weight: 400;
        }
    }

}

