main.main{
    .main__content{

        padding: 40px 0px;
        .title-search{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 40px;
            .search{
                display: flex;
                align-items: center;
                border-radius: 10px;
                border: 1px solid #F3F3F3;
                width: 250px;
                height: 45px;
                flex-shrink: 0;
                img{
                    padding: 0 10px 0 15px;
                    cursor: pointer;
                }
                input{
                    width: 100%;
                    padding: 0 5px;
                }
            }
        }
    }
}